[libdefaults]
	default_realm = {{ auth_client_kerberos_realm }}

	kdc_timesync = 1
	ccache_type = 4
	forwardable = true
	proxiable = true
	# Require principals to be listed in .k5login in order to allow login
	# iff that file exists
	k5login_authoritative = true
	allow_weak_crypto = false
	permitted_enctypes = {{ auth_kerberos_enctypes }}
	default_tkt_enctypes = {{ auth_kerberos_enctypes }}
	default_tgs_enctypes = {{ auth_kerberos_enctypes }}
	spake_preauth_groups = {{ auth_kerberos_curves }}

[realms]
	{{ auth_client_kerberos_realm }} = {
		pkinit_anchors = FILE:/{{ auth_client_ca }}
{% for item in auth_client_kerberos_kdcs %}
		pkinit_kdc_hostname = {{ item }}
{% endfor %}
		admin_server = {{ auth_client_kerberos_admin_servers|random }}
{% if auth_client_kerberos_enable_smartcard %}
		pkinit_identities = PKCS11:module_name=opensc-pkcs11.so
{% endif %}
	}

[domain_realm]
	.{{ auth_client_kerberos_realm|lower }} = {{ auth_client_kerberos_realm }}
{% for domain in auth_client_kerberos_realm_subdomains %}
	.{{ domain|lower }} = {{ auth_client_kerberos_realm }}
{% endfor %}

